.summary-container {
  flex: 1;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  max-width: 1000px;
  max-height: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.name-header {
  display: flex;
  flex-direction: row; /* Set flex-direction to row by default */
  align-items: center; /* Align items vertically in the center */
}

.name-header h2 {
  color: #093171;
  font-size: 22px;
}

.name-header p {
  margin-left: 8px;
  font-style: italic;
  font-size: 22px;
}

/* Summary List */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  background-color: #f7f9fc; /* Light blue background color for summary */
  padding: 16px;
  border-radius: 4px;
}

/* Add a media query for screens with a width less than 420px */
@media screen and (max-width: 420px) {
  .name-header {
    flex-direction: column; /* Change flex-direction to column for smaller screens */
    align-items: flex-start;
  }
}
