.question-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}


.input-field {
  flex: 1;
  margin-top: 5px;
  height: auto;
  min-height: 30px;
  vertical-align: top;
  overflow-y: auto;
  width: 100%; /* Optional: Set the input field width as needed */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.question-container select {
  max-width: 220px;
}

.question-label {
  margin-bottom: 10px; 
  font-weight: 600;
}

.radio {
  padding-top: 18px;
}

.range-container {
  width: 100%;
  
  align-items: center;
}

.range-field {
  width: calc(100% - 50px); /* Adjust width to ensure the pointer aligns perfectly */
}

.range-labels {
  width: 90.5%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 5px;
}

select {
  padding: 6px;
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
}
